snippet irea "Import React and { Component }"
import React, { Component } from 'react';
endsnippet

snippet iprop "Import prop-types"
import PropTypes from 'prop-types';
endsnippet

snippet irad "Import radium"
import Radium from 'radium';
endsnippet

snippet imat "Import Material-UI component"
import ${1} from 'material-ui/$1';
endsnippet

snippet exd "Export default"
export default ${1};
endsnippet

snippet exrad "Export with Radium"
export default Radium(${1});
endsnippet
